
.p5Canvas {
  /* zorg dat canvas niet groter wordt dan window
     en behoud breedte x hoogte verhouding van 1280x720 
   */  
  max-width: min(100vh*1280/720, 100vw);
  max-height: min(100vw*720/1280, 100vh);
  
  /* zet canvas in het midden
   */ 
  display:block;
  margin: auto;
}

html, body {
  /* verwijder marge tussen canvas en rand van window
   */ 
  margin: 0px;
}
var beweegAlles = function () {
  // speler
  var speed = 6
  if (keyIsDown(68) || keyIsDown(RIGHT_ARROW)){
     spelerX = spelerX + speed
  };
  if (keyIsDown(65) || keyIsDown(LEFT_ARROW)){
    spelerX = spelerX - speed
 };
  if (keyIsDown(87) || keyIsDown(UP_ARROW)){
    spelerY = spelerY - speed
  };
  if (keyIsDown(83) || keyIsDown(DOWN_ARROW)){
    spelerY = spelerY + speed
  };
};